.back {
    height: 100vh;
}
/*  */
.carousel-item {
    height: 100vh;
}
.fixed-top {
    position: absolute;
}
/* .footer a {
    color: #FF7043;
    text-decoration: none;
}
.footer a:hover {
    color: #FF5722;
} */
.head{
    position: relative;
    height: 50vh;
    width: 100%;
    background-image: url(../img/img-5.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
    z-index: 1;
}
/* .slider-h{
    height: 70vh;
} */
.section-1 h2 a{
    color: rgb(134, 202, 202);
    text-shadow: 0 0 3px rgb(9, 65, 117);
}
.navbar{
    background: rgba(0, 0, 0, 0.3) !important;
}
.navbar li > a{
    color: rgb(34, 248, 255) !important;
}
.form{
   background:  rgb(4, 59, 59);
}
.bg-transparent{
    background: transparent;
    color:  rgb(20, 70, 90);
    text-shadow: 0 3px 5px aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.dark{
    position: fixed;
    background: rgba(0, 0, 0, 0.9) !important;
}